In [17]:
import pandas as pd

df1 = data1 = {
    "Name": ["Jim", "Carrie", "Chris","Morris"],
    "Gender": ["M","F","M","M"],
    "Profession": ["Athelete","Tech","Cricketer","Actor"]
}

pd.DataFrame(df1)

     Name Gender Profession
0     Jim      M   Athelete
1  Carrie      F       Tech
2   Chris      M  Cricketer
3  Morris      M      Actor

In [30]:
pd.DataFrame(data1).iloc[:2,:2]
pd.DataFrame(data1).loc[:2,"Name":"Profession"]

     Name Gender Profession
0     Jim      M   Athelete
1  Carrie      F       Tech
2   Chris      M  Cricketer